
<h2> Here are your current outstanding expenses </h2>

<div>
<% if current_user.expenses.empty? %>
<p>  Hello <%=current_user.username%> you do not have any expenses yet, please click on the link below to create a new expense. </p>
    <%else%>
<%current_user.expenses.each do |expense|%>
    <%total = 0%>    
 <p><%= expense.title %>: $<%= expense.amount %> 
 <a href= expenses/<%=expense.id%>/edit> Edit <a/>
 <form action="/expenses/<%=expense.id%>" method="post">
 <input type="hidden" name="_method" value="delete">
       <input type="submit" value="delete expense" > </p>      
<%end%>
<%total = 0 %>
<%amounts = current_user.expenses.collect {|expense| expense.amount}%>
<p> Total Expenses: $<%=amounts.inject{|total,x| total + x }%> </p>
<%end%>
</div>
<p> <a href="/expenses/new">Create New Expense </p>
<p> <a href="/logout">log out </p>


    